

<div class="app-container">
 
  <header>
    <h1>OMR Sheet Processing App</h1>
  </header>

 
  <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/teacher" routerLinkActive="active">Teacher Interface</a>
    <a routerLink="/results" routerLinkActive="active">Results Display</a>
    <a routerLink="/omr" routerLinkActive="active">OMR</a>

    <!-- <a routerLink="/camera" routerLinkActive="active">Camera</a> -->
  </nav>

  
  <router-outlet></router-outlet>


  <footer>
    &copy; 2024 OMR Sheet Processing App
  </footer>
  
</div>
<!-- <app-teacher-interface></app-teacher-interface> -->
